.loginBox {
  width: 60%;
  height: auto;
  padding: 10px;
  margin: auto;
  border: 1px solid #54aeb7;
}

.loginBox p {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.loginBox p input {
  width: 100%;
  padding: 10px;
}

.loginBox .loginBtns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.loginBox .loginBtns a {
  width: 49%;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  border: 1px solid #54aeb7;
  color: #54aeb7;
  transition: all 0.4s;
}

.loginBox .loginBtns a:first-child {
  color: #fff;
  background: #54aeb7;
  transition: all 0.4s;
}

.loginBox .loginBtns a:hover {
  color: #fff;
  background: #54aeb7;
}

.loginBox .loginBtns a:first-child:hover {
  color: #54aeb7;
  background: #fff;
}

.findInfo {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.findInfo a {
  margin-right: 10px;
  border-left: 1px solid #54aeb7;
  padding: 0 20px;
}

.findInfo a:hover {
  text-decoration: underline;
}

.findInfo a:first-child {
  border-left: 0;
}
