/* design input page style */

.webDesignInput {
  width: 100%;
  height: auto;
  border: 1px solid #d0af51;
  padding: 10px;
}

.webDesignInput .titleSer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.webDesignInput .titleSer p {
  width: 33.33%;
  _float: left;
}

.webDesignInput .titleSer p.client_input {
  _float: right;
}

.webDesignInput .titleSer p label {
  background: #d0af51;
  color: #fff;
  padding: 10.5px 20px;
  display: block;
  width: 30%;
  text-align: center;
  float: left;
}

.webDesignInput .titleSer p input {
  width: 70%;
  border: 1px solid #d0af51;
  padding: 10px;
  float: left;
}

.webDesignInput .uploadDesc textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #d0af51;
  margin-top: 10px;
  resize: none;
  padding: 10px;
}

.webDesignInput .uploadImgs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.webDesignInput .uploadImgs .uploadBox {
  _float: left;
  width: 33%;
  height: auto;
  position: relative;
}

.webDesignInput .uploadImgs .uploadBox.appImg {
  width: 49.5%;
}

.webDesignInput .uploadBox .inputControll {
  text-align: center;
}

.webDesignInput .inputControll input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
}

.webDesignInput .inputControll label {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #d0af51;
  color: #fff;
  background: #d0af51;
  transition: all 0.3s;
}

.webDesignInput .inputControll label:hover {
  color: black;
}

.webDesignInput .uploadName {
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid #d0af51;
  color: #d0af51;
  margin-bottom: 10px;
}

.webDesignInput .imgWrap {
  width: 100%;
  height: auto;
  padding: 5px;
  border: 1px solid #d0af51;
  overflow: hidden;
  margin-top: 10px;
}

.webDesignInput .imgWrap img {
  width: 100%;
}

/* buttons style */
.btns {
  display: flex;
  width: auto;
  height: auto;
  margin: 0;
  justify-content: center;
  transition: all 0.3s;
}

.btns .commonBtn {
  margin-right: 1px;
}

.btns .commonBtn:hover {
  background: #d0af51;
  color: #fff;
}

/* web input page style */
.webInputForm .titleSer {
  flex-wrap: wrap;
}

.webInputForm .titleSer p {
  width: 50%;
}

.webInputForm .titleSer p:nth-child(1),
.webInputForm .titleSer p:nth-child(2) {
  margin-bottom: 10px;
}
